{% extends "base2.html" %}
{% block body_block %}

<div class="container">
  <div class="jumbotron">
    <h1>Allitson Technologies</h1>
              {% csrf_token %}

    {% if user.is_authenticated %}
        <h2>Welcome {{ user.username }}!</h2>
         </p>
        <a class="display-4" href="{% url 'basicapp:home' %}">Wireshark Data capture</a>
        </p>
        <a class="display-4" href="{% url 'basicapp:scan' %}">Wireshark Scan </a>
         </p>
        <a class="display-4" href="{% url 'basicapp:nmapscan' %}">Nmap Scan </a>
          </p>
        <a class="display-4" href="{% url 'basicapp:client_home' %}">Allitson New Client Registration </a>
         <p>
      
    {% else %}
        <h2>Welcome to the site!</h2>
    {% endif %}
  </div>
</div>

{% endblock %}




<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Fluid jumbotron</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
